body{
    background-image:url("https://ryansechrest.com/content/images/2022/08/nodes.gif") ;
    background-repeat: no-repeat;
    background-size: cover;

}
h1{
    font-family: 'Times New Roman', Times, serif;
color: rgb(183, 44, 72);
}

body{
    color:darkred;
    padding: 18;
}